<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
	<uses-feature android:name="android.hardware.touchscreen" android:required="true"/>
	<uses-feature android:name="android.software.webview" android:required="true"/>
	<supports-screens android:smallScreens="true"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BotnaicaWellnes"
		android:hardwareAccelerated="true"
        tools:targetApi="31">



        <meta-data android:name="android.webkit.WebView.EnableSafeBrowsing" android:value="false"/>
        <meta-data android:name="android.webkit.WebView.MetricsOptOut" android:value="true"/>

        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.BotnaicaWellnes" 
			android:hardwareAccelerated="true"
			tools:ignore="LockedOrientationActivity"
		>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>